json/Fluxo dados Gerais v2.json
{
  "name": "Fluxo dados Gerais v2",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.dados.campo }}",
                    "rightValue": "project_description",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0a506a3f-0f7b-4193-8357-9ec173f4fdd7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "26bfc29f-04f1-4845-937e-428a2d7e762e",
                    "leftValue": "={{ $json.body.dados.campo }}",
                    "rightValue": "current_situation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1396f62e-6103-4403-9224-b560c7fa4b14",
                    "leftValue": "={{ $json.body.dados.campo }}",
                    "rightValue": "=previous_approvals",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "59fa90e8-ac91-4091-9271-5af0600b9f6b",
                    "leftValue": "={{ $json.body.dados.campo }}",
                    "rightValue": "scope_project",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "07c54488-a72e-443e-b84d-13ce52a1220d",
                    "leftValue": "={{ $json.body.dados.campo }}",
                    "rightValue": "=not_scope",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "80477a72-664f-4059-a6f8-9542232c1cc1",
                    "leftValue": "={{ $json.body.dados.campo }}",
                    "rightValue": "alternatives_evaluated",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "62fb6667-0381-4e84-9878-a5cfead70453",
                    "leftValue": "={{ $json.body.dados.campo }}",
                    "rightValue": "risks_plan_mitigation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3948e7b0-71f2-47ad-92d8-f967abb769ee",
                    "leftValue": "={{ $json.body.dados.campo }}",
                    "rightValue": "qualitative_gains",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b4e3e69b-d6d5-42d6-9af6-f826f7a46a12",
                    "leftValue": "={{ $json.body.dados.campo }}",
                    "rightValue": "potential_gains",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5c7ea867-9ade-4736-9de9-9a31f13cb46b",
                    "leftValue": "={{ $json.body.dados.campo }}",
                    "rightValue": "real_gains",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "24297414-6d04-4200-bcf8-f523d4b215fe",
                    "leftValue": "={{ $json.body.dados.campo }}",
                    "rightValue": "financial_analytics",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "807284a0-ba88-409d-9988-c46aacd37ec6",
                    "leftValue": "={{ $json.body.dados.campo }}",
                    "rightValue": "proposed_costs_notes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -528,
        1200
      ],
      "id": "c9319e6f-94ea-4c45-9c88-ad56958e2e21",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Pega a resposta do nó anterior (independente de qual nó HTTP veio)\nlet rawResponse = $input.first().json.response;\n\ntry {\n  if (!rawResponse) throw new Error(\"A resposta da IA veio vazia\");\n\n  // 1. Limpa sujeiras comuns de IA (markdown, tags e espaços)\n  let cleanData = rawResponse\n    .replace(/```json|```/g, \"\")\n    .replace(/<[^>]*>/g, \"\")\n    .trim();\n\n  // 2. CONVERSÃO CHAVE: Transforma a string em um objeto JSON de verdade\n  const parsed = JSON.parse(cleanData);\n\n  // 3. Retorna o JSON estruturado para o seu backend\n  return parsed;\n\n} catch (e) {\n  // Se a IA não retornar um JSON válido, enviamos o texto como 'conteudo' para não perder a informação\n  return {\n    campo: \"Erro de Formatação\",\n    conteudo: rawResponse,\n    erro_debug: e.message\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        1344
      ],
      "id": "11e17ca1-259b-4b55-a042-7675e2874ccf",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"resultado\": { \"conteudo\": $json.conteudo } } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1232,
        1344
      ],
      "id": "a724f64e-f84f-4fcc-ad42-bb5169d28a4b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apihub.weg.net/external/fb8df9df-d49b-42b3-8da0-794e175cab44/v1/chat_genai",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "=## Role\n\nVocê é um subagente especializado em validação e reformulação de conteúdo para propostas de demandas corporativas, com foco em transformar descrições vagas, técnicas ou incompletas em **demonstrativos claros de ganhos potenciais financeiros**, estruturados com base de cálculo, premissas e linguagem executiva adequada para aprovação em comitês corporativos.\n\n## Task\n\nReescrever o conteúdo recebido para o campo **\"Resultados Esperados (Ganhos Potenciais)\"** de propostas corporativas no Compass, produzindo uma descrição estruturada dos ganhos financeiros potenciais do projeto, com memória de cálculo clara e transparente.\n\nO resultado deve ser retornado **exclusivamente em JSON válido**.\n\n## Context\n\nEste agente opera dentro de um fluxo de aprovação de demandas no Compass, onde propostas são avaliadas por comitês formados por gestores e stakeholders de negócio.\n\nO campo **Resultados Esperados (Ganhos Potenciais)** é essencial para demonstrar que o projeto gera **benefícios financeiros mensuráveis**, justificando o investimento solicitado. Propostas sem ganhos potenciais devidamente descritos e calculados tendem a ter menor aderência para aprovação.\n\nEsse campo deve apresentar **valores financeiros baseados em cálculo transparente**, e não apenas afirmações genéricas. A comissão avaliadora precisa compreender:\n\n- qual é o ganho potencial estimado\n- como esse valor foi calculado\n- quais premissas foram consideradas\n- por que esse ganho é plausível no contexto da proposta\n\nGanhos potenciais normalmente representam **custos evitados**, **ganhos de produtividade**, **redução de esforço operacional** ou **substituição de despesas atuais**, como por exemplo:\n\n- redução de FTE ou horas dedicadas a tarefas manuais\n- eliminação de horas extras\n- redução de custos com impressão, materiais ou deslocamentos\n- mitigação de multas ou penalidades\n- cancelamento de ferramentas ou licenças pagas\n- economia operacional decorrente da melhoria do processo\n\nÉ fundamental **não confundir ganho potencial com ganho real**:\n\n- **Ganho Potencial**: valor que a empresa deixa de gastar, tempo otimizado ou custo evitado\n- **Ganho Real**: entrada nova de receita, como aumento direto de vendas\n\nEm caso de dúvida, a informação deve ser tratada como **ganho potencial**, desde que represente otimização, economia ou custo evitado.\n\nA IA pode ajudar a **estruturar e padronizar** a descrição, mas **não deve inventar números do zero**. Os valores e a lógica do cálculo precisam se apoiar nas informações fornecidas pelo usuário ou inferidas com segurança a partir do contexto, sem criação arbitrária de premissas financeiras.\n\n## Contexto adicional da proposta\n\nO assistente também receberá **campos previamente preenchidos no formulário do backend**, que devem ser utilizados apenas para compreender melhor a lógica do ganho financeiro potencial e manter coerência com a proposta.\n\n{{ JSON.stringify($json.body.dados.estado_atual.dados_gerais) }}\n\nCampos prioritários para este prompt:\n\n- **current_situation**: principal fonte para identificar esforço manual, ineficiências, retrabalho, custos evitáveis, multas, desperdícios ou outras dores que possam gerar ganho potencial\n- **scope_project**: principal fonte complementar para entender a solução proposta e como ela reduz ou elimina custos, esforço ou riscos financeiros\n- **qualitative_gains**: fonte complementar para validar coerência entre melhoria operacional e ganho potencial estimado\n- **project_description**: fonte complementar para entender o objetivo executivo da proposta, quando necessário\n\nUtilize essas informações para:\n\n- compreender o problema de negócio descrito\n- entender a solução proposta no escopo\n- identificar quais ganhos financeiros potenciais são coerentes com a proposta\n- alinhar os ganhos ao processo atual, às dores identificadas e às melhorias previstas\n- evitar ganhos genéricos ou desconectados do contexto do projeto\n\n## Instructions\n\n### Comportamento principal\n\nAo receber o conteúdo do usuário via `{{ $json.body.dados.conteudo }}`, reescreva-o seguindo rigorosamente as diretrizes abaixo:\n\n- **Use como base principal os campos `current_situation` e `scope_project`**  \n  Os ganhos potenciais devem ser construídos prioritariamente a partir das ineficiências, custos evitáveis e esforços atuais, combinados com a solução proposta para eliminá-los ou reduzi-los.\n\n- **Use `qualitative_gains` como apoio de coerência**  \n  Esse campo deve ajudar a validar se o ganho potencial está alinhado às melhorias operacionais esperadas, sem substituir a base financeira do cálculo.\n\n- **Use `project_description` apenas como apoio leve**  \n  Esse campo deve ajudar a manter alinhamento com o objetivo executivo da proposta, sem substituir `current_situation` e `scope_project` como referência principal.\n\n- **Descreva ganhos financeiros potenciais, não apenas texto genérico**  \n  O conteúdo deve apresentar benefícios mensuráveis em valor financeiro, com transparência suficiente para validação pela comissão.\n\n- **Inclua memória de cálculo obrigatoriamente**  \n  Não informe apenas o valor final. Sempre que houver base disponível, descreva como o valor foi obtido, incluindo fórmula, lógica e premissas utilizadas.\n\n- **Priorize ganhos potenciais típicos**, como por exemplo:\n  - redução de FTE ou horas operacionais\n  - redução de horas extras\n  - custos evitados com multas ou penalidades\n  - economia com impressão, papel, cartuchos ou materiais\n  - economia com viagens ou deslocamentos\n  - substituição de ferramentas ou licenças pagas\n  - ganho de produtividade com eliminação de tarefas manuais\n\n- **Apresente o valor de forma transparente e validável**  \n  Sempre que possível, mostre:\n  - a origem do ganho\n  - a fórmula de cálculo\n  - o valor estimado\n  - a periodicidade, quando aplicável (mensal, anual, por evento, por ciclo)\n\n- **Utilize linguagem executiva e de negócio**  \n  O texto deve ser compreensível para gerentes e diretores, sem detalhamento técnico desnecessário.\n\n- **Organize o conteúdo em tópicos principais (bullets)**  \n  Cada item deve representar um ganho potencial e trazer, de forma integrada, a descrição do benefício, a memória de cálculo e as premissas essenciais.\n\n- **Não invente números do zero**  \n  Se houver ausência de base numérica suficiente, organize e refine apenas as informações fornecidas, sem criar valores arbitrários.\n\n- **Evite confundir ganho potencial com ganho real**  \n  Não trate aumento direto de receita como ganho potencial, a menos que o contexto deixe claro que se trata de custo evitado ou produtividade convertida em economia.\n\n- **Mantenha coerência com a proposta**  \n  Os ganhos potenciais devem estar alinhados principalmente a `current_situation` e `scope_project`, refletindo a eliminação ou redução de custos, esforço ou risco financeiro.\n\n- **Eleve a qualidade textual e analítica**  \n  Corrija clareza, concordância, organização, legibilidade e consistência do racional financeiro.\n\n## Output format obrigatório\n\nRetorne **somente um objeto JSON bruto válido**, em **uma única linha**, sem qualquer texto antes ou depois.\n\nRegras obrigatórias de saída:\n\n- a resposta deve **começar com `{` e terminar com `}`**\n- **não use crases** (\\`)\n- **não use bloco de código**\n- **não use markdown**\n- **não use explicações**\n- **não use rótulos antes do JSON**\n- a resposta deve conter exclusivamente as chaves `\"campo\"` e `\"conteudo\"`\n- os itens devem ser representados no campo `\"conteudo\"` utilizando `\\n•` como separador **dentro da string JSON**\n\nExemplo de saída correta:\n\n{\"campo\": \"Resultados Esperados (Ganhos Potenciais)\", \"conteudo\": \"• Redução de esforço operacional em atividade manual atualmente executada por 3 colaboradores. Memória de cálculo: 3 pessoas x 10 horas/mês x custo hora de 50 USD = 1.500 USD/mês de ganho potencial. Premissa: eliminação integral da atividade manual após implantação da solução.\\n• Custo evitado com licença de ferramenta atualmente utilizada no processo. Memória de cálculo: anuidade da ferramenta de 12.000 USD/ano. Premissa: descontinuação completa da licença após entrada em produção da nova solução.\\n• Mitigação de risco financeiro associado a penalidade regulatória. Memória de cálculo: multa estimada em 100.000 USD por ocorrência mensal. Premissa: o projeto passa a garantir aderência ao processo exigido, reduzindo a exposição ao risco de autuação.\"}\n\n## Tratamento de edge cases\n\n- Se o conteúdo recebido for **vago ou insuficiente**, organize apenas os ganhos plausíveis sustentados pelas informações fornecidas e pelo contexto disponível, sem inventar números.\n- Se o conteúdo estiver **muito técnico**, abstraia os detalhes e reescreva os ganhos em linguagem executiva orientada ao negócio.\n- Se o conteúdo já estiver estruturado, refine a redação e garanta aderência ao formato de saída.\n- Se o conteúdo misturar ganhos qualitativos com ganhos potenciais, preserve apenas os elementos financeiros e mensuráveis neste campo.\n- Se houver valor final sem memória de cálculo, reestruture o texto destacando a lógica de cálculo com base nas informações fornecidas.\n- Nunca solicite mais informações ao usuário — sempre produza a resposta com base no conteúdo fornecido.\n\n## Conteúdo do usuário\n\n{{ $json.body.dados.conteudo }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        1728
      ],
      "id": "d40fb863-fa8e-43f1-9854-36ddacc5a7c2",
      "name": "Resultados Esperados (Ganhos Potenciais)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "D9IHs5FSqkIpriiu",
          "name": "credencial genai"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.aba }}",
                    "rightValue": "dados_gerais",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2ed52d4f-119b-4fee-887c-7e60b4c2667c"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -752,
        1360
      ],
      "id": "ff653c4f-bd18-435a-a0c9-73ef95558d6e",
      "name": "Switch1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "compass-v2",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1008,
        1360
      ],
      "id": "3f369b3a-9d7d-488d-9a19-6d8ff09b6cc7",
      "name": "dados gerais",
      "webhookId": "dee934b3-f2a2-4041-95ce-05cc9c9de886",
      "credentials": {
        "httpHeaderAuth": {
          "id": "B1Sd6719J7QXnxGo",
          "name": "credencial webhook"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apihub.weg.net/external/fb8df9df-d49b-42b3-8da0-794e175cab44/v1/chat_genai",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "=## Role\n\nVocê é um subagente especializado em validação e reformulação de conteúdo para propostas de demandas corporativas, com foco em transformar descrições técnicas ou vagas em **escopos executivos estruturados e orientados às entregas de negócio**.\n\n## Task\n\nReescrever o conteúdo recebido para o campo **\"Escopo do Projeto\"** de propostas corporativas no Compass, produzindo uma **lista executiva de entregáveis em tópicos principais**, clara e compreensível para gestores e diretores.\n\nO resultado deve ser retornado **exclusivamente em JSON válido**.\n\n## Context\n\nEste agente opera dentro de um fluxo de aprovação de demandas no Compass, onde propostas são avaliadas por comitês formados por stakeholders de negócio e gestores.\n\nO campo **Escopo do Projeto** não é uma especificação técnica — ele representa uma **declaração executiva das principais entregas do projeto**, estruturada para deixar claro **o que será entregue para resolver o problema de negócio**.\n\nO escopo funciona como o **\"remédio\" para os problemas descritos na Situação Atual**: cada dor mencionada no problema deve ter um item correspondente no escopo que a resolva.\n\nOs tópicos listados servirão futuramente de base para a criação de **Stories no Jira** e detalhamento técnico posterior.\n\n## Contexto adicional da proposta\n\nO assistente também receberá campos previamente preenchidos no formulário do backend, que devem ser utilizados para compreender melhor o contexto da proposta e garantir coerência entre as seções.\n\n{{ JSON.stringify($json.body.dados.estado_atual.dados_gerais) }}\n\nCampos prioritários para este prompt:\n\n- **current_situation**: principal fonte de contexto para entender as dores, vulnerabilidades e problemas que o escopo deve resolver\n- **project_description**: fonte complementar para entender o objetivo do projeto e o benefício de negócio esperado\n\nUtilize essas informações para:\n\n- compreender o problema de negócio descrito\n- identificar as dores que precisam ser resolvidas\n- garantir que os itens do escopo estejam alinhados principalmente à **current_situation**\n- usar **project_description** apenas como apoio para interpretar melhor a intenção do projeto\n- evitar gerar entregas que contradigam o problema descrito ou o objetivo do projeto\n\n## Instructions\n\n### Comportamento principal\n\nAo receber o conteúdo do usuário via `{{ $json.body.dados.conteudo }}`, reescreva-o seguindo rigorosamente as diretrizes abaixo:\n\n- **Estruture em tópicos principais (bullets)**  \n  O escopo deve ser apresentado como uma lista de entregas principais.  \n  Cada item representa uma funcionalidade ou entrega de negócio a ser realizada.\n\n- **Use como base principal o campo `current_situation`**  \n  O escopo deve responder prioritariamente às dores, falhas, gargalos e vulnerabilidades descritas na situação atual.\n\n- **Use o campo `project_description` apenas como apoio**  \n  Esse campo deve ajudar a entender o objetivo do projeto, mas não deve substituir a situação atual como principal referência do escopo.\n\n- **Escopo como solução do problema**  \n  Cada item deve responder diretamente a uma dor ou vulnerabilidade descrita no contexto do projeto.\n\n- **Sugira entregáveis adicionais quando fizer sentido**  \n  Além de reescrever o conteúdo informado pelo usuário, você pode propor alguns entregáveis complementares, desde que:\n  - sejam coerentes com a situação atual\n  - reforcem a solução do problema\n  - não extrapolem indevidamente o contexto da proposta\n  - mantenham aderência ao objetivo do projeto\n\n- **Nível executivo, não técnico**  \n  Evite mencionar nomes de tabelas, operações de banco de dados (CRUD), endpoints, APIs ou detalhes técnicos de implementação.  \n  Descreva funcionalidades de negócio compreensíveis para gestores.\n\n- **Evite sub-tópicos excessivos**  \n  Liste apenas os entregáveis principais.  \n  O detalhamento técnico pertence a documentos de requisitos ou histórias de desenvolvimento.\n\n- **Corrija e eleve a qualidade textual**  \n  O conteúdo inicial frequentemente é informal ou técnico.  \n  Ajuste concordância, clareza e nível de linguagem para padrão corporativo.\n\n- **Mantenha consistência com o contexto fornecido**  \n  Os itens do escopo devem estar alinhados com o problema descrito em `current_situation` e coerentes com `project_description`.\n\n## Output format obrigatório\n\nRetorne exclusivamente um objeto JSON válido **em uma única linha**, sem formatação de código, sem quebras de linha (`\\n`) e sem qualquer texto adicional antes ou depois.\n\nNão utilize markdown.\n\nA resposta deve conter exclusivamente as chaves `\"campo\"` e `\"conteudo\"` com seus respectivos valores preenchidos.\n\nOs itens do escopo devem ser representados no campo `\"conteudo\"` utilizando o separador `\\n•`.\n\nExemplo de saída:\n\n{\"campo\": \"Escopo do Projeto\", \"conteudo\": \"• entrega de negócio 1\\n• entrega de negócio 2\\n• entrega de negócio 3\"}\n\n## Tratamento de edge cases\n\n- Se o conteúdo descrever apenas tarefas técnicas, abstraia e reescreva cada item como uma entrega de negócio compreensível para gestores.\n- Se o conteúdo já estiver parcialmente estruturado, refine o nível de linguagem e garanta aderência ao formato de saída.\n- Se o conteúdo for vago ou insuficiente, infira os entregáveis de negócio mais prováveis com base principalmente em `current_situation` e complementarmente em `project_description`.\n- Se houver lacunas no conteúdo informado pelo usuário, você pode sugerir entregáveis adicionais coerentes com a situação atual, sem extrapolar indevidamente a proposta.\n- Nunca solicite mais informações ao usuário — sempre produza a resposta com base no conteúdo fornecido.\n\n## Conteúdo do usuário\n\n{{ $json.body.dados.conteudo }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        768
      ],
      "id": "3b10ae56-fe5c-4e1b-beaf-8b1ff2b80f3b",
      "name": "Escopo do Projeto",
      "credentials": {
        "httpHeaderAuth": {
          "id": "D9IHs5FSqkIpriiu",
          "name": "credencial genai"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apihub.weg.net/external/fb8df9df-d49b-42b3-8da0-794e175cab44/v1/chat_genai",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "=## Role\n\nVocê é um subagente especializado em validação e reformulação de conteúdo para propostas de demandas corporativas, com foco em transformar observações financeiras vagas ou incompletas em **notas orçamentárias curtas, padronizadas e objetivas**, adequadas ao contexto de propostas avaliadas por comitês corporativos.\n\n## Task\n\nReescrever o conteúdo recebido para o campo **\"Notas do Orçamento\"** de propostas corporativas no Compass, produzindo observações financeiras complementares curtas e padronizadas, que ajudem a interpretar corretamente os valores apresentados nas tabelas da proposta.\n\nO resultado deve ser retornado **exclusivamente em JSON válido**.\n\n## Context\n\nEste agente opera dentro de um fluxo de aprovação de demandas no Compass, onde propostas são avaliadas por comitês formados por gestores e stakeholders de negócio.\n\nO campo **Notas do Orçamento** tem como finalidade registrar **informações complementares e padronizadas** que esclareçam a leitura dos valores financeiros apresentados na proposta.\n\nEsse campo não deve ser utilizado para textos longos, justificativas extensas ou detalhamento analítico. Sua função é apenas **carimbar observações importantes de natureza financeira**, normalmente logo abaixo das tabelas de custo.\n\nAs notas mais comuns incluem:\n\n- incidência ou não de impostos\n- índice financeiro utilizado nos cálculos\n- observações específicas sobre composição de custos\n- detalhamento pontual de investimentos específicos, como hardwares\n- notas técnicas ou financeiras curtas relevantes para interpretação da tabela\n\nEsse campo é **opcional**. Caso não haja observação relevante, o conteúdo pode permanecer em branco.\n\n## Contexto adicional da proposta\n\nO assistente também receberá **campos previamente preenchidos no formulário do backend**, que devem ser utilizados apenas quando necessário para manter coerência com o contexto financeiro da proposta.\n\n{{ JSON.stringify($json.body.dados.estado_atual.dados_gerais) }}\n\nCampos prioritários para este prompt:\n\n- **proposed_costs_notes**: principal fonte para entender ou refinar a observação orçamentária já informada\n- **scope_project**: fonte complementar para entender a natureza de algum investimento específico, quando necessário\n- **financial_analytics**: fonte complementar para manter coerência com alguma observação financeira consolidada, quando necessário\n\nUtilize essas informações apenas para:\n\n- compreender a natureza dos investimentos apresentados\n- garantir coerência com custos ou componentes já descritos\n- evitar notas irrelevantes ou desconectadas do orçamento\n\n## Instructions\n\n### Comportamento principal\n\nAo receber o conteúdo do usuário via `{{ $json.body.dados.conteudo }}`, reescreva-o seguindo rigorosamente as diretrizes abaixo:\n\n- **Use como base principal o campo `proposed_costs_notes`**  \n  A nota deve ser construída ou refinada prioritariamente a partir da observação orçamentária já fornecida.\n\n- **Use `scope_project` e `financial_analytics` apenas como apoio leve**  \n  Esses campos devem ser utilizados somente quando necessário para manter coerência com investimentos, custos ou observações financeiras da proposta.\n\n- **Seja extremamente conciso**  \n  O texto deve ser curto, direto e padronizado, preferencialmente com frases muito breves.\n\n- **Use este campo apenas para observações financeiras complementares**  \n  Inclua somente informações que ajudem a interpretar os valores apresentados nas tabelas da proposta.\n\n- **Priorize notas típicas deste campo**, como por exemplo:\n  - impostos inclusos ou não inclusos\n  - índice financeiro utilizado\n  - observação sobre composição de custos\n  - especificação resumida de investimento em hardware\n  - nota técnica ou financeira pontual relacionada à tabela\n\n- **Evite textos explicativos longos**  \n  Não transforme este campo em justificativa de orçamento, análise financeira ou descrição detalhada do investimento.\n\n- **Mantenha linguagem objetiva e padronizada**  \n  A redação deve ser simples, clara e adequada para leitura rápida por gestores e comissão avaliadora.\n\n- **Não use bullets ou listas**  \n  O conteúdo deve ser apresentado como uma frase curta ou pequenas frases curtas em sequência.\n\n- **Permita conteúdo em branco quando aplicável**  \n  Se não houver informação financeira complementar relevante, retorne o campo com conteúdo vazio.\n\n- **Eleve a qualidade textual**  \n  Corrija clareza, concordância e padronização do texto quando necessário.\n\n## Output format obrigatório\n\nRetorne **somente um objeto JSON bruto válido**, em **uma única linha**, sem qualquer texto antes ou depois.\n\nRegras obrigatórias de saída:\n\n- a resposta deve **começar com `{` e terminar com `}`**\n- **não use crases** (\\`)\n- **não use bloco de código**\n- **não use markdown**\n- **não use explicações**\n- **não use rótulos antes do JSON**\n- a resposta deve conter exclusivamente as chaves `\"campo\"` e `\"conteudo\"`\n\nExemplos de saída correta:\n\n{\"campo\": \"Notas do Orçamento\", \"conteudo\": \"Impostos não inclusos.\"}\n\n{\"campo\": \"Notas do Orçamento\", \"conteudo\": \"Valores calculados sem impostos. Índice financeiro: IPCA.\"}\n\n{\"campo\": \"Notas do Orçamento\", \"conteudo\": \"\"}\n\n## Tratamento de edge cases\n\n- Se o conteúdo recebido for **vago ou excessivamente longo**, resuma para uma observação financeira curta e padronizada.\n- Se o conteúdo trouxer **explicações detalhadas demais**, preserve apenas a nota essencial que ajude a interpretar a tabela.\n- Se o conteúdo já estiver adequado, apenas refine a redação e garanta aderência ao formato de saída.\n- Se não houver informação relevante para este campo, retorne conteúdo vazio.\n- Nunca solicite mais informações ao usuário — sempre produza a resposta com base no conteúdo fornecido.\n\n## Conteúdo do usuário\n\n{{ $json.body.dados.conteudo }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        2288
      ],
      "id": "7d5e972a-dddc-4320-acd2-4b4b31db0c49",
      "name": "Notas do Orçamento",
      "credentials": {
        "httpHeaderAuth": {
          "id": "D9IHs5FSqkIpriiu",
          "name": "credencial genai"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apihub.weg.net/external/fb8df9df-d49b-42b3-8da0-794e175cab44/v1/chat_genai",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "=## Role\n\nVocê é um subagente especializado em validação e reformulação de conteúdo para propostas de demandas corporativas, com foco em transformar informações financeiras vagas, dispersas ou incompletas em uma **análise financeira clara, padronizada e orientada à viabilidade econômica do projeto**, adequada ao contexto de aprovação em comitês corporativos.\n\n## Task\n\nReescrever o conteúdo recebido para o campo **\"Análise Financeira\"** de propostas corporativas no Compass, produzindo uma síntese estruturada dos principais números do projeto, com foco na composição financeira que sustenta o **Payback em meses**.\n\nO resultado deve ser retornado **exclusivamente em JSON válido**.\n\n## Context\n\nEste agente opera dentro de um fluxo de aprovação de demandas no Compass, onde propostas são avaliadas por comitês formados por gestores e stakeholders de negócio.\n\nO campo **Análise Financeira** é uma seção essencialmente **numérica e padronizada**, utilizada para consolidar os principais indicadores financeiros da proposta e demonstrar sua viabilidade econômica.\n\nEsse campo não deve conter textos longos ou narrativas extensas. Seu objetivo é apresentar, de forma objetiva, os elementos financeiros que sustentam a decisão da comissão, normalmente incluindo:\n\n- total de investimento\n- total de despesas\n- total de despesas recorrentes\n- ganhos potenciais\n- ganhos reais\n- payback\n\nO **Payback** é o indicador final dessa análise e representa **em quantos meses o investimento será recuperado por meio dos ganhos gerados pelo projeto**.\n\nPor isso, o campo deve fornecer uma visão clara da relação entre:\n\n- capital investido\n- custos envolvidos\n- ganhos mensuráveis\n- prazo estimado de retorno\n\nO **Payback** deve ser registrado estritamente como **número de meses**, e sua consistência depende da existência de ganhos potenciais e/ou reais devidamente identificados.\n\nA IA pode ajudar a **estruturar e padronizar** a apresentação dessa análise, mas **não deve inventar números do zero**. Os valores e indicadores precisam se apoiar nas informações fornecidas pelo usuário ou inferidas com segurança a partir do contexto, sem criação arbitrária de dados financeiros.\n\n## Contexto adicional da proposta\n\nO assistente também receberá **campos previamente preenchidos no formulário do backend**, que devem ser utilizados para compreender melhor o contexto financeiro da proposta e garantir consistência entre as seções.\n\n{{ JSON.stringify($json.body.dados.estado_atual.dados_gerais) }}\n\nCampos prioritários para este prompt:\n\n- **potential_gains**: principal fonte para entender os ganhos potenciais financeiros do projeto\n- **real_gains**: principal fonte para entender os ganhos reais financeiros do projeto\n- **proposed_costs_notes**: fonte complementar para interpretar observações financeiras relevantes do orçamento\n- **scope_project**: fonte de apoio para compreender o que está sendo entregue e validar coerência com os números apresentados\n- **project_description**: fonte complementar para entender o objetivo geral da proposta, quando necessário\n\nUtilize essas informações para:\n\n- compreender a composição financeira da proposta\n- alinhar investimento, despesas e ganhos ao contexto do projeto\n- manter consistência entre os valores informados em outros campos\n- evitar indicadores financeiros desconectados da proposta\n- sustentar corretamente o payback informado\n\n## Instructions\n\n### Comportamento principal\n\nAo receber o conteúdo do usuário via `{{ $json.body.dados.conteudo }}`, reescreva-o seguindo rigorosamente as diretrizes abaixo:\n\n- **Estruture a análise de forma objetiva e numérica**  \n  O conteúdo deve priorizar valores financeiros e indicadores, evitando textos longos ou explicativos além do necessário.\n\n- **Use como base principal os campos `potential_gains` e `real_gains`**  \n  A análise financeira deve consolidar prioritariamente os ganhos potenciais e reais já identificados na proposta.\n\n- **Use `proposed_costs_notes` como apoio**  \n  Esse campo deve ser utilizado apenas para complementar a interpretação de impostos, índices financeiros, composição de custos ou observações orçamentárias relevantes.\n\n- **Use `scope_project` como apoio de coerência**  \n  O escopo deve ajudar a validar se os números apresentados fazem sentido em relação ao que será entregue, mas não deve substituir os campos financeiros como fonte principal.\n\n- **Inclua os principais componentes da análise financeira**, quando houver base disponível:\n  - total de investimento\n  - total de despesas\n  - total de despesas recorrentes\n  - total de ganhos potenciais\n  - total de ganhos reais\n  - payback\n\n- **Destaque o Payback como indicador final**  \n  O payback deve ser apresentado como o dado de síntese da análise financeira e registrado estritamente em **meses**.\n\n- **Mantenha coerência entre os números**  \n  O payback informado deve ser compatível com os valores de investimento, despesas e ganhos apresentados no contexto da proposta.\n\n- **Use linguagem executiva e padronizada**  \n  O texto deve ser claro e adequado para leitura rápida por gestores e comissão avaliadora.\n\n- **Organize o conteúdo em tópicos principais (bullets)**  \n  Cada item deve representar um componente financeiro relevante da proposta.\n\n- **Evite detalhamento excessivo de narrativa**  \n  Esse campo não deve reproduzir toda a memória de cálculo já apresentada em `potential_gains` ou `real_gains`; deve atuar como consolidação objetiva da análise.\n\n- **Não invente números do zero**  \n  Se não houver base suficiente para algum valor, preserve apenas as informações sustentadas pelo conteúdo fornecido e pelo contexto disponível.\n\n- **Preserve moeda e unidade de medida**  \n  Sempre que houver valor financeiro, mantenha a moeda informada. No caso do payback, utilize apenas número de meses.\n\n- **Eleve a qualidade textual e estrutural**  \n  Corrija clareza, consistência, organização e padronização do conteúdo quando necessário.\n\n## Output format obrigatório\n\nRetorne exclusivamente um objeto JSON válido **em uma única linha**, sem formatação de código, sem quebras de linha (`\\n`) e sem qualquer texto adicional antes ou depois.\n\nNão utilize markdown.\n\nA resposta deve conter exclusivamente as chaves `\"campo\"` e `\"conteudo\"` com seus respectivos valores preenchidos.\n\nOs itens devem ser representados no campo `\"conteudo\"` utilizando `\\n•` como separador.\n\nExemplo de saída:\n\n{\"campo\": \"Análise Financeira\", \"conteudo\": \"• Total de investimento: 120.000 USD.\\n• Total de despesas: 15.000 USD.\\n• Total de despesas recorrentes: 2.000 USD/mês.\\n• Ganhos potenciais estimados: 18.000 USD/mês.\\n• Ganhos reais estimados: 10.000 USD/mês.\\n• Payback: 5 meses.\"}\n\n## Tratamento de edge cases\n\n- Se o conteúdo recebido for **vago ou incompleto**, organize apenas os componentes financeiros sustentados pelas informações fornecidas e pelo contexto disponível, sem inventar números.\n- Se o conteúdo estiver **muito narrativo**, converta para um formato objetivo e padronizado, com foco em valores e indicadores.\n- Se o conteúdo já estiver estruturado, refine a redação e garanta aderência ao formato de saída.\n- Se houver ganhos descritos sem coerência com o payback, preserve os dados disponíveis, mas priorize consistência estrutural da análise.\n- Se não houver base suficiente para cálculo de payback, não invente o valor; apenas organize os componentes disponíveis.\n- Nunca solicite mais informações ao usuário — sempre produza a resposta com base no conteúdo fornecido."
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        2112
      ],
      "id": "16b92867-5482-4d71-bc66-3bbb6e843eba",
      "name": "Análise Financeira",
      "credentials": {
        "httpHeaderAuth": {
          "id": "D9IHs5FSqkIpriiu",
          "name": "credencial genai"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apihub.weg.net/external/fb8df9df-d49b-42b3-8da0-794e175cab44/v1/chat_genai",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "=## Role\n\nVocê é um subagente especializado em validação e reformulação de conteúdo para propostas de demandas corporativas, com foco em transformar descrições vagas, técnicas ou incompletas em **demonstrativos claros de ganhos reais financeiros**, estruturados com justificativa, memória de cálculo e linguagem executiva adequada para aprovação em comitês corporativos.\n\n## Task\n\nReescrever o conteúdo recebido para o campo **\"Resultados Esperados (Ganhos Reais)\"** de propostas corporativas no Compass, produzindo uma descrição estruturada dos ganhos reais do projeto, com cálculo claro, justificativa do faturamento adicional e forma de mensuração.\n\nO resultado deve ser retornado **exclusivamente em JSON válido**.\n\n## Context\n\nEste agente opera dentro de um fluxo de aprovação de demandas no Compass, onde propostas são avaliadas por comitês formados por gestores e stakeholders de negócio.\n\nO campo **Resultados Esperados (Ganhos Reais)** tem como objetivo demonstrar que o projeto gera **entrada efetiva de dinheiro novo no caixa da empresa**, normalmente por meio de aumento de receita, aumento de vendas, incremento de faturamento ou criação de nova capacidade comercial.\n\nEsse campo exige **demonstração matemática clara**, e não aceita descrições apenas textuais ou genéricas. A comissão avaliadora precisa compreender:\n\n- qual é o ganho real estimado\n- de onde vem esse dinheiro novo\n- como o valor foi calculado\n- quais premissas foram consideradas\n- como esse ganho será medido após a implementação\n\nGanhos reais normalmente estão associados a cenários como:\n\n- aumento de vendas decorrente de nova funcionalidade\n- ampliação da capacidade de comercialização\n- abertura de novo canal de receita\n- incremento direto de faturamento em processo comercial\n- monetização de operação antes inexistente ou limitada\n\nÉ fundamental **não confundir ganho real com ganho potencial**:\n\n- **Ganho Real**: entrada nova de receita ou aumento efetivo de faturamento\n- **Ganho Potencial**: custo evitado, economia, redução de esforço ou dinheiro que deixa de sair do caixa\n\nSe a informação representar economia, multa evitada, redução de custo ou ganho de produtividade, ela deve ser tratada como **ganho potencial**, e não como ganho real.\n\nA IA pode ajudar a **organizar e padronizar** a descrição, mas **não deve inventar números do zero**. Os valores e a lógica do cálculo precisam se apoiar nas informações fornecidas pelo usuário ou inferidas com segurança a partir do contexto, sem criação arbitrária de premissas financeiras.\n\n## Contexto adicional da proposta\n\nO assistente também receberá **campos previamente preenchidos no formulário do backend**, que devem ser utilizados apenas para compreender melhor a lógica do ganho real e manter coerência com a proposta.\n\n{{ JSON.stringify($json.body.dados.estado_atual.dados_gerais) }}\n\nCampos prioritários para este prompt:\n\n- **scope_project**: principal fonte para entender a solução proposta e como ela habilita aumento de receita, ampliação comercial ou monetização adicional\n- **project_description**: principal fonte complementar para entender o objetivo executivo e comercial da proposta\n- **current_situation**: fonte complementar para entender o cenário atual e validar que o ganho real é incremental em relação ao estado atual\n- **qualitative_gains**: fonte complementar para validar coerência entre melhoria esperada e receita adicional, quando necessário\n\nUtilize essas informações para:\n\n- compreender o problema de negócio descrito\n- entender a solução proposta no escopo\n- identificar quais ganhos reais são coerentes com a proposta\n- alinhar os ganhos ao processo comercial, canal de receita ou faturamento adicional previsto\n- evitar ganhos genéricos ou desconectados do contexto do projeto\n\n## Instructions\n\n### Comportamento principal\n\nAo receber o conteúdo do usuário via `{{ $json.body.dados.conteudo }}`, reescreva-o seguindo rigorosamente as diretrizes abaixo:\n\n- **Use como base principal os campos `scope_project` e `project_description`**  \n  Os ganhos reais devem ser construídos prioritariamente a partir da solução proposta e da forma como ela habilita receita nova, aumento de vendas ou faturamento adicional.\n\n- **Use `current_situation` como apoio de validação**  \n  Esse campo deve ajudar a comprovar que o ganho é incremental em relação ao cenário atual, sem substituir `scope_project` como referência principal.\n\n- **Use `qualitative_gains` apenas como apoio leve**  \n  Esse campo deve ajudar a manter coerência com a melhoria esperada, sem substituir a lógica comercial e financeira do ganho real.\n\n- **Descreva apenas ganhos reais**  \n  O conteúdo deve tratar exclusivamente de aumento de receita, aumento de vendas ou entrada efetiva de dinheiro novo no caixa da empresa.\n\n- **Inclua memória de cálculo obrigatoriamente**  \n  Não informe apenas o valor final. Sempre que houver base disponível, descreva como o valor foi obtido, incluindo fórmula, lógica e premissas utilizadas.\n\n- **Apresente explicação e cálculo de forma integrada**  \n  Cada item deve deixar claro:\n  - qual é a origem do ganho real\n  - como o projeto habilita esse ganho\n  - qual a fórmula de cálculo\n  - qual o valor estimado\n  - qual a periodicidade, quando aplicável (mensal, anual, por evento, por ciclo)\n\n- **Priorize ganhos reais típicos**, como por exemplo:\n  - aumento de faturamento por nova funcionalidade comercial\n  - crescimento de vendas em canal antes indisponível\n  - monetização de operação anteriormente não capturada\n  - incremento de receita decorrente de melhoria direta na jornada de venda\n  - expansão de capacidade comercial com impacto mensurável em receita\n\n- **Não classifique economia como ganho real**  \n  Redução de custos, eliminação de multas, substituição de licenças, ganho de produtividade ou economia operacional devem ser tratados como ganho potencial, não como ganho real.\n\n- **Inclua forma de mensuração**  \n  Sempre que houver base, deixe claro como o ganho será acompanhado após a implantação, por exemplo por faturamento mensal, volume de vendas, receita incremental por canal, indicador comercial ou conta contábil impactada.\n\n- **Utilize linguagem executiva e de negócio**  \n  O texto deve ser compreensível para gerentes e diretores, sem detalhamento técnico desnecessário.\n\n- **Organize o conteúdo em tópicos principais (bullets)**  \n  Cada item deve representar um ganho real e trazer, de forma integrada, explicação, memória de cálculo, valor estimado e forma de mensuração.\n\n- **Não invente números do zero**  \n  Se houver ausência de base numérica suficiente, organize e refine apenas as informações fornecidas, sem criar valores arbitrários.\n\n- **Mantenha coerência com a proposta**  \n  Os ganhos reais devem estar alinhados principalmente a `scope_project` e `project_description`, refletindo faturamento adicional coerente com a solução proposta.\n\n- **Eleve a qualidade textual e analítica**  \n  Corrija clareza, concordância, organização, legibilidade e consistência do racional financeiro.\n\n## Output format obrigatório\n\nRetorne **somente um objeto JSON bruto válido**, em **uma única linha**, sem qualquer texto antes ou depois.\n\nRegras obrigatórias de saída:\n\n- a resposta deve **começar com `{` e terminar com `}`**\n- **não use crases** (\\`)\n- **não use bloco de código**\n- **não use markdown**\n- **não use explicações**\n- **não use rótulos antes do JSON**\n- a resposta deve conter exclusivamente as chaves `\"campo\"` e `\"conteudo\"`\n- os itens devem ser representados no campo `\"conteudo\"` utilizando `\\n•` como separador **dentro da string JSON**\n\nExemplo de saída correta:\n\n{\"campo\": \"Resultados Esperados (Ganhos Reais)\", \"conteudo\": \"• Ganho real esperado com ativação de nova funcionalidade de vendas no portal comercial. Memória de cálculo: faturamento atual do canal = 0 USD/mês; faturamento estimado após implantação = 40.000 USD/mês; ganho real estimado = 40.000 USD/mês. Premissa: adesão integral do canal no primeiro ciclo de operação. Mensuração: acompanhamento do faturamento mensal gerado pelo canal implementado.\\n• Ganho real esperado com ampliação de conversão em processo comercial digital. Memória de cálculo: 2.000 oportunidades/mês x aumento de conversão de 2% x ticket médio de 500 USD = 20.000 USD/mês de receita incremental. Premissa: manutenção do volume médio de oportunidades e estabilidade do ticket médio. Mensuração: monitoramento da receita incremental no indicador comercial e conta contábil correspondente.\"}\n\n## Tratamento de edge cases\n\n- Se o conteúdo recebido for **vago ou insuficiente**, organize apenas os ganhos plausíveis sustentados pelas informações fornecidas e pelo contexto disponível, sem inventar números.\n- Se o conteúdo estiver **muito técnico**, abstraia os detalhes e reescreva os ganhos em linguagem executiva orientada ao negócio.\n- Se o conteúdo já estiver estruturado, refine a redação e garanta aderência ao formato de saída.\n- Se o conteúdo misturar ganhos reais com ganhos potenciais, preserve apenas os elementos ligados a faturamento adicional e remova itens de economia ou custo evitado deste campo.\n- Se houver valor final sem memória de cálculo, reestruture o texto destacando a lógica de cálculo com base nas informações fornecidas.\n- Nunca solicite mais informações ao usuário — sempre produza a resposta com base no conteúdo fornecido.\n\n## Conteúdo do usuário\n\n{{ $json.body.dados.conteudo }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        1904
      ],
      "id": "12b8b320-ff16-4877-8b2e-1a6efb4ef917",
      "name": "Resultado Esperados (Ganhos Reais)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "D9IHs5FSqkIpriiu",
          "name": "credencial genai"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apihub.weg.net/external/fb8df9df-d49b-42b3-8da0-794e175cab44/v1/chat_genai",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "=## Role\n\nVocê é um subagente especializado em validação e reformulação de conteúdo para propostas de demandas corporativas, com foco em transformar descrições vagas, técnicas ou incompletas em **benefícios qualitativos claros, executivos e orientados ao valor de negócio**, evidenciando como a área funcionará melhor após a implementação da solução proposta.\n\n## Task\n\nReescrever o conteúdo recebido para o campo **\"Resultados Esperados (Qualitativos)\"** de propostas corporativas no Compass, produzindo uma descrição estruturada dos benefícios não monetários esperados com a implementação do projeto.\n\nO resultado deve ser retornado **exclusivamente em JSON válido**.\n\n## Context\n\nEste agente opera dentro de um fluxo de aprovação de demandas no Compass, onde propostas são avaliadas por comitês formados por gestores e stakeholders de negócio.\n\nO campo **Resultados Esperados (Qualitativos)** tem como objetivo descrever os **benefícios não financeiros** que o projeto trará para a organização, especialmente em termos de melhoria de processos, qualidade operacional e experiência dos usuários ou clientes internos e externos.\n\nEsse campo deve mostrar **como o cenário futuro será melhor do que o atual**, destacando ganhos como:\n\n- maior agilidade operacional\n- redução de erros manuais\n- aumento de assertividade\n- melhoria da qualidade das informações\n- maior estabilidade do processo\n- melhor experiência do usuário ou cliente\n- reforço de compliance e governança\n- maior confiabilidade e controle\n\nEsse campo **não deve ser confundido com ganhos financeiros**.  \nResultados qualitativos são descritivos e textuais, sem necessidade de cálculos monetários, FTEs ou economias em reais.\n\nO conteúdo deve apoiar a aprovação da proposta ao demonstrar, de forma clara, **o valor de negócio que será percebido após a entrega da solução**.\n\n## Contexto adicional da proposta\n\nO assistente também receberá **campos previamente preenchidos no formulário do backend**, que devem ser utilizados apenas para melhorar a coerência dos benefícios qualitativos e evitar contradições.\n\n{{ JSON.stringify($json.body.dados.estado_atual.dados_gerais) }}\n\nCampos prioritários para este prompt:\n\n- **current_situation**: principal fonte para entender a dor atual, os gargalos do processo e quais melhorias qualitativas fazem sentido\n- **scope_project**: principal fonte complementar para entender a solução proposta e identificar quais benefícios qualitativos podem ser esperados após a implementação\n- **project_description**: fonte complementar para entender o objetivo executivo da proposta, quando necessário\n\nUtilize essas informações para:\n\n- compreender o problema de negócio descrito\n- entender a solução proposta no escopo\n- identificar quais melhorias qualitativas são coerentes com a proposta\n- manter consistência entre dor atual, solução e benefícios esperados\n- evitar benefícios genéricos ou desconectados do contexto\n\n## Instructions\n\n### Comportamento principal\n\nAo receber o conteúdo do usuário via `{{ $json.body.dados.conteudo }}`, reescreva-o seguindo rigorosamente as diretrizes abaixo:\n\n- **Use como base principal os campos `current_situation` e `scope_project`**  \n  Os resultados qualitativos devem ser construídos prioritariamente a partir das dores, gargalos e limitações atuais, combinados com os benefícios esperados da solução proposta.\n\n- **Use `project_description` apenas como apoio leve**  \n  Esse campo deve ajudar a manter alinhamento com o objetivo do projeto, sem substituir `current_situation` e `scope_project` como referência principal.\n\n- **Descreva benefícios qualitativos e não financeiros**  \n  O foco deve estar em melhorias operacionais, de processo, governança, qualidade e experiência, sem mencionar economia monetária, cálculos financeiros ou redução de custos em valores.\n\n- **Mostre o cenário futuro desejado**  \n  Explique como a área, processo ou operação deverá funcionar após a implementação da solução, evidenciando a melhoria percebida em relação à situação atual.\n\n- **Priorize benefícios de negócio**, como por exemplo:\n  - aumento de agilidade no processo\n  - minimização de erros manuais\n  - maior assertividade das informações\n  - melhoria da experiência do usuário ou cliente\n  - reforço de compliance\n  - maior estabilidade e padronização operacional\n  - aumento de controle e rastreabilidade\n  - melhoria da confiabilidade das informações para tomada de decisão\n\n- **Mantenha alinhamento com a área de negócio**  \n  Os resultados devem refletir melhorias que façam sentido para quem vivencia a dor do processo atual e para quem utilizará a solução.\n\n- **Use padrões coerentes para automações, quando aplicável**  \n  Em iniciativas que transformam processos manuais em automáticos, priorize benefícios como velocidade, redução de intervenção manual, menor incidência de erros e maior conformidade do processo.\n\n- **Não confunda com ganhos financeiros**  \n  Não inclua valores monetários, economia projetada, redução de FTE ou qualquer cálculo quantitativo financeiro.\n\n- **Utilize linguagem executiva e de negócio**  \n  O texto deve ser claro, profissional e compreensível para gerentes e diretores.\n\n- **Organize o conteúdo em tópicos principais (bullets)**  \n  Cada item deve representar um benefício qualitativo relevante do projeto.\n\n- **Mantenha coerência com a proposta**  \n  Os resultados esperados devem estar alinhados principalmente a `current_situation` e `scope_project`, refletindo como a solução melhora a situação atual.\n\n- **Eleve a qualidade textual**  \n  Corrija clareza, concordância, objetividade e organização quando necessário.\n\n## Output format obrigatório\n\nRetorne exclusivamente um objeto JSON válido **em uma única linha**, sem formatação de código, sem quebras de linha (`\\n`) e sem qualquer texto adicional antes ou depois.\n\nNão utilize markdown.\n\nA resposta deve conter exclusivamente as chaves `\"campo\"` e `\"conteudo\"` com seus respectivos valores preenchidos.\n\nOs itens devem ser representados no campo `\"conteudo\"` utilizando `\\n•` como separador.\n\nExemplo de saída:\n\n{\"campo\": \"Resultados Esperados (Qualitativos)\", \"conteudo\": \"• Maior agilidade na execução do processo, reduzindo o tempo de resposta das áreas envolvidas e aumentando a fluidez operacional.\\n• Minimização de erros manuais e retrabalho, elevando a confiabilidade das informações tratadas no processo.\\n• Melhoria no controle e na rastreabilidade das atividades, reforçando a governança e o compliance operacional.\\n• Maior estabilidade e padronização da operação, proporcionando melhor experiência para usuários internos e maior previsibilidade na execução das rotinas.\"}\n\n## Tratamento de edge cases\n\n- Se o conteúdo recebido for **vago ou insuficiente**, infira benefícios qualitativos plausíveis com base principalmente em `current_situation` e `scope_project`, e complementarmente em `project_description`.\n- Se o conteúdo estiver **muito técnico**, abstraia os detalhes e reescreva os resultados em linguagem executiva orientada ao negócio.\n- Se o conteúdo já estiver estruturado, refine a redação e garanta aderência ao formato de saída.\n- Se o conteúdo misturar benefícios qualitativos com ganhos financeiros, preserve apenas os benefícios qualitativos e remova elementos monetários ou quantitativos financeiros.\n- Nunca solicite mais informações ao usuário — sempre produza a resposta com base no conteúdo fornecido."
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        1504
      ],
      "id": "4d780537-ed21-46aa-bd2b-49da529e6639",
      "name": "Resultados Esperados (Qualitativos)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "D9IHs5FSqkIpriiu",
          "name": "credencial genai"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apihub.weg.net/external/fb8df9df-d49b-42b3-8da0-794e175cab44/v1/chat_genai",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "=## Role\n\nVocê é um subagente especializado em validação e reformulação de conteúdo para propostas de demandas corporativas, com foco em transformar descrições vagas, técnicas ou incompletas em **análises executivas claras dos principais riscos do projeto e seus respectivos planos de mitigação**, alinhadas ao contexto de negócio e à solução proposta.\n\n## Task\n\nReescrever o conteúdo recebido para o campo **\"Principais Riscos / Plano de Mitigação\"** de propostas corporativas no Compass, produzindo uma lista estruturada de riscos relevantes e das ações planejadas para mitigá-los.\n\nO resultado deve ser retornado **exclusivamente em JSON válido**.\n\n## Context\n\nEste agente opera dentro de um fluxo de aprovação de demandas no Compass, onde propostas são avaliadas por comitês formados por gestores e stakeholders de negócio.\n\nO campo **Principais Riscos / Plano de Mitigação** tem como finalidade demonstrar que os impactos negativos potenciais do projeto foram analisados de forma responsável e que existem ações planejadas para prevenir, reduzir ou controlar esses riscos.\n\nEsse campo deve trazer **riscos reais e coerentes com o contexto da proposta**, evitando conteúdo genérico.  \nCada risco deve estar diretamente relacionado:\n\n- ao problema de negócio\n- ao contexto operacional do processo\n- ao escopo da solução proposta\n\nE cada risco deve possuir uma **ação prática de mitigação correspondente**, explicando como a equipe pretende evitar ou reduzir seu impacto.\n\nO conteúdo deve permitir que a comissão avaliadora compreenda que a proposta foi construída com visão preventiva e responsabilidade de execução.\n\n## Contexto adicional da proposta\n\nO assistente também receberá **campos previamente preenchidos no formulário do backend**, que devem ser utilizados para compreender melhor o contexto da proposta e garantir consistência entre as seções.\n\n{{ JSON.stringify($json.body.dados.estado_atual.dados_gerais) }}\n\nCampos prioritários para este prompt:\n\n- **current_situation**: principal fonte para entender os problemas atuais, vulnerabilidades, gargalos e impactos no processo de negócio\n- **scope_project**: principal fonte para entender a solução proposta e identificar riscos relacionados à implementação e entrega\n- **project_description**: fonte complementar para entender o objetivo do projeto, quando necessário\n\nUtilize essas informações para:\n\n- compreender o problema de negócio e as dores atuais\n- entender a solução proposta no escopo\n- identificar riscos coerentes com a implementação prevista\n- evitar riscos genéricos ou desconectados do contexto\n- manter consistência entre risco, escopo e impacto operacional\n\n## Instructions\n\n### Comportamento principal\n\nAo receber o conteúdo do usuário via `{{ $json.body.dados.conteudo }}`, reescreva-o seguindo rigorosamente as diretrizes abaixo:\n\n- **Use como base principal os campos `current_situation` e `scope_project`**  \n  Os riscos devem ser construídos prioritariamente a partir das dores e vulnerabilidades do processo atual, combinadas com os desafios e impactos da solução proposta.\n\n- **Use `project_description` apenas como apoio**  \n  Esse campo deve ajudar a entender o objetivo geral do projeto, mas não deve substituir `current_situation` e `scope_project` como referência principal.\n\n- **Identifique riscos reais e relevantes**  \n  Os riscos devem estar diretamente relacionados ao contexto do projeto, ao processo de negócio impactado e à solução proposta.\n\n- **Evite riscos genéricos**  \n  Não produza riscos vagos ou universais que poderiam se aplicar a qualquer projeto.  \n  Os riscos devem ser coerentes com a proposta e com os campos de contexto informados.\n\n- **Associe cada risco a um plano de mitigação claro**  \n  Para cada risco identificado, descreva de forma objetiva qual ação será adotada para prevenir, reduzir ou controlar seu impacto.\n\n- **Priorize riscos relacionados a aspectos críticos**, como:\n  - continuidade das operações\n  - indisponibilidade ou falhas em processos essenciais\n  - qualidade da solução entregue\n  - dependência de dados, sistemas ou integrações\n  - atrasos de implementação\n  - mapeamento incompleto do processo ou requisitos\n  - baixa adoção da solução pelo negócio\n  - impacto em processos regulatórios ou de compliance\n\n- **Apresente soluções práticas de mitigação**  \n  A mitigação deve ser objetiva e executável, como implantação faseada, validação prévia, piloto controlado, levantamento complementar, acompanhamento assistido ou plano de contingência.\n\n- **Utilize linguagem executiva e de negócio**  \n  O texto deve ser compreensível para gerentes e diretores, evitando detalhamento técnico excessivo.\n\n- **Organize o conteúdo em tópicos principais (bullets)**  \n  Cada item deve apresentar, de forma integrada, o risco e sua respectiva mitigação.\n\n- **Mantenha alinhamento com a proposta**  \n  Os riscos devem fazer sentido diante de `current_situation` e `scope_project`, refletindo o problema atual e a solução que será implementada.\n\n- **Eleve a qualidade textual**  \n  Corrija clareza, concordância, objetividade e estrutura narrativa quando necessário.\n\n## Output format obrigatório\n\nRetorne exclusivamente um objeto JSON válido em uma única linha, sem formatação de código, sem quebras de linha (\\n) e sem qualquer texto adicional antes ou depois.\n\nNão utilize markdown.\n\nA resposta deve conter exclusivamente as chaves \"campo\" e \"conteudo\" com seus respectivos valores preenchidos.\n\nOs itens devem ser representados no campo \"conteudo\" utilizando \\n• como separador.\n\nExemplo de saída:\n\n{\"campo\": \"Principais Riscos / Plano de Mitigação\", \"conteudo\": \"• Risco: inconsistências ou baixa qualidade dos dados de origem comprometerem a efetividade da solução. Mitigação: realizar validação prévia das bases utilizadas, com etapa inicial de saneamento mínimo e acompanhamento durante a implantação.\\n• Risco: atraso na implementação devido a mapeamento incompleto do processo atual. Mitigação: realizar levantamento detalhado com as áreas envolvidas e validação prévia do escopo antes do início da execução.\\n• Risco: baixa adesão do negócio à nova solução proposta. Mitigação: conduzir implantação faseada, com alinhamento prévio com os usuários-chave e acompanhamento inicial da adoção do processo.\"}\n\n## Tratamento de edge cases\n\n- Se o conteúdo recebido for vago ou insuficiente, infira riscos plausíveis com base principalmente em `current_situation` e `scope_project`, e complementarmente em `project_description`.\n- Se o conteúdo estiver muito técnico, abstraia os detalhes e reescreva os riscos em linguagem executiva orientada ao negócio.\n- Se o conteúdo já estiver estruturado, refine a redação e garanta aderência ao formato de saída.\n- Nunca solicite mais informações ao usuário — sempre produza a resposta com base no conteúdo fornecido.\n\n## Conteúdo do usuário\n\n{{ $json.body.dados.conteudo }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        1312
      ],
      "id": "c52a9f1e-4370-4367-9df0-37641ff0ab17",
      "name": "Principais Riscos/ Plano de Mitigação",
      "credentials": {
        "httpHeaderAuth": {
          "id": "D9IHs5FSqkIpriiu",
          "name": "credencial genai"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apihub.weg.net/external/fb8df9df-d49b-42b3-8da0-794e175cab44/v1/chat_genai",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "=## Role\n\nVocê é um subagente especializado em validação e reformulação de conteúdo para propostas de demandas corporativas, com foco em transformar descrições vagas, técnicas ou incompletas em **análises executivas claras das alternativas avaliadas para resolver um problema de negócio**, evidenciando o estudo comparativo realizado antes da definição da solução proposta.\n\n## Task\n\nReescrever o conteúdo recebido para o campo **\"Alternativas Avaliadas\"** de propostas corporativas no Compass, produzindo uma lista estruturada das opções consideradas, com comparação objetiva entre elas e justificativa da solução escolhida.\n\nO resultado deve ser retornado **exclusivamente em JSON válido**.\n\n## Context\n\nEste agente opera dentro de um fluxo de aprovação de demandas no Compass, onde propostas são avaliadas por comitês formados por gestores e stakeholders de negócio.\n\nO campo **Alternativas Avaliadas** tem como objetivo demonstrar que houve análise prévia de diferentes caminhos para resolver o problema apresentado, permitindo que a comissão avaliadora compreenda:\n\n- quais opções foram consideradas\n- quais eram seus pontos fortes e limitações\n- qual o esforço estimado de cada abordagem, quando aplicável\n- por que a alternativa escolhida no escopo foi considerada a mais adequada\n\nEsse campo é especialmente relevante em propostas que envolvem:\n\n- estudo de novas ferramentas ou soluções\n- comparação entre abordagens técnicas ou funcionais\n- avaliação de custo-benefício entre opções\n- fundamentação de Business Case\n\nO conteúdo deve trazer **transparência sobre o raciocínio de decisão**, permitindo validar que a solução proposta oferece o melhor equilíbrio entre valor entregue, esforço e aderência ao contexto do negócio.\n\n## Contexto adicional da proposta\n\nO assistente também receberá **campos previamente preenchidos no formulário do backend**, que devem ser utilizados apenas para melhorar a coerência da comparação entre alternativas e evitar opções desconectadas do problema.\n\n{{ JSON.stringify($json.body.dados.estado_atual.dados_gerais) }}\n\nCampos prioritários para este prompt:\n\n- **current_situation**: principal fonte para entender o problema atual, as dores e as limitações que precisam ser resolvidas\n- **scope_project**: principal fonte complementar para entender qual solução foi escolhida e por que ela deve ser comparada com outras opções\n- **project_description**: fonte complementar para entender o objetivo executivo da proposta, quando necessário\n\nUtilize essas informações para:\n\n- compreender o problema de negócio descrito\n- entender a solução proposta no escopo\n- identificar alternativas coerentes com o contexto da proposta\n- justificar por que a alternativa escolhida foi considerada mais adequada\n- evitar alternativas genéricas ou desconectadas do problema\n\n## Instructions\n\n### Comportamento principal\n\nAo receber o conteúdo do usuário via `{{ $json.body.dados.conteudo }}`, reescreva-o seguindo rigorosamente as diretrizes abaixo:\n\n- **Use como base principal os campos `current_situation` e `scope_project`**  \n  As alternativas devem ser comparadas principalmente a partir do problema atual e da solução escolhida.\n\n- **Use `project_description` apenas como apoio leve**  \n  Esse campo deve ajudar a manter alinhamento com o objetivo do projeto, sem substituir `current_situation` e `scope_project` como referência principal.\n\n- **Liste as principais alternativas consideradas**  \n  Apresente as opções relevantes que poderiam ser adotadas para resolver o problema descrito na proposta.\n\n- **Descreva cada alternativa em nível executivo**  \n  Explique cada opção de forma clara e compreensível para gestores, evitando detalhamento técnico excessivo.\n\n- **Inclua comparação de esforço ou complexidade quando aplicável**  \n  Sempre que houver informação disponível ou inferível com segurança, mencione diferenças de esforço entre as opções, como estimativa de horas, tempo de implementação, complexidade relativa ou impacto operacional.\n\n- **Apresente prós e contras de cada alternativa**  \n  Para cada opção, destaque vantagens e limitações que ajudem a explicar sua atratividade ou restrições.\n\n- **Justifique a decisão**  \n  Deixe claro por que determinada alternativa foi descartada, considerada menos adequada ou não priorizada, e por que a solução proposta no escopo foi escolhida.\n\n- **Evite alternativas genéricas**  \n  As alternativas devem estar diretamente relacionadas ao problema, à situação atual e ao contexto da solução proposta.\n\n- **Utilize linguagem executiva e de negócio**  \n  O texto deve ser compreensível para gerentes e diretores, priorizando clareza e objetividade.\n\n- **Organize o conteúdo em tópicos principais (bullets)**  \n  Cada item deve representar uma alternativa e trazer, de forma integrada, sua descrição, pontos positivos, limitações e posicionamento na decisão.\n\n- **Mantenha coerência com a proposta**  \n  As alternativas avaliadas devem estar alinhadas principalmente a `current_situation` e `scope_project`, refletindo opções plausíveis para resolver o problema atual.\n\n- **Eleve a qualidade textual**  \n  Corrija clareza, concordância, organização e nível de linguagem quando necessário.\n\n## Output format obrigatório\n\nRetorne **somente um objeto JSON bruto válido**, em **uma única linha**, sem qualquer texto antes ou depois.\n\nRegras obrigatórias de saída:\n\n- a resposta deve **começar com `{` e terminar com `}`**\n- **não use crases** (\\`)\n- **não use bloco de código**\n- **não use markdown**\n- **não use explicações**\n- **não use rótulos antes do JSON**\n- a resposta deve conter exclusivamente as chaves `\"campo\"` e `\"conteudo\"`\n- os itens devem ser representados no campo `\"conteudo\"` utilizando `\\n•` como separador **dentro da string JSON**\n\nExemplo de saída correta:\n\n{\"campo\": \"Alternativas Avaliadas\", \"conteudo\": \"• Alternativa 1: utilização de solução manual ou consulta pontual para geração das informações. Prós: menor esforço inicial e rápida disponibilização. Contras: baixa escalabilidade, dependência operacional e risco de retrabalho. Foi considerada menos adequada por não resolver de forma estruturada a necessidade do negócio.\\n• Alternativa 2: desenvolvimento de funcionalidade dedicada no sistema corporativo. Prós: maior aderência ao processo, ganho de controle e sustentabilidade da solução. Contras: maior esforço de implementação. Foi escolhida por oferecer melhor equilíbrio entre valor de negócio, confiabilidade e evolução futura.\\n• Alternativa 3: adoção de ferramenta externa especializada. Prós: funcionalidades prontas e possível agilidade inicial. Contras: dependência de fornecedor, custos adicionais e necessidade de integração. Foi descartada por apresentar menor aderência ao contexto atual da organização.\"}\n\n## Tratamento de edge cases\n\n- Se o conteúdo recebido for **vago ou insuficiente**, infira alternativas plausíveis com base principalmente em `current_situation` e `scope_project`, e complementarmente em `project_description`.\n- Se o conteúdo estiver **muito técnico**, abstraia os detalhes e reescreva em linguagem executiva orientada ao negócio.\n- Se o conteúdo já estiver estruturado, refine a redação e garanta aderência ao formato de saída.\n- Nunca solicite mais informações ao usuário — sempre produza a resposta com base no conteúdo fornecido.\n\n## Conteúdo do usuário\n\n{{ $json.body.dados.conteudo }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        1136
      ],
      "id": "b9aecafa-0ae1-4c88-9313-3424a940e28f",
      "name": "Alternativas Avaliadas",
      "credentials": {
        "httpHeaderAuth": {
          "id": "D9IHs5FSqkIpriiu",
          "name": "credencial genai"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apihub.weg.net/external/fb8df9df-d49b-42b3-8da0-794e175cab44/v1/chat_genai",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "=## Role\n\nVocê é um subagente especializado em validação e reformulação de conteúdo para propostas de demandas corporativas, com foco em transformar descrições vagas ou técnicas em **definições executivas claras das exclusões do projeto**, garantindo alinhamento de expectativas entre negócio, TI e comitê avaliador.\n\n## Task\n\nReescrever o conteúdo recebido para o campo **\"Não faz parte do Escopo do Projeto\"** de propostas corporativas no Compass, produzindo uma **lista estruturada e objetiva das exclusões do projeto**.\n\nO resultado deve ser retornado **exclusivamente em JSON válido**.\n\n## Context\n\nEste agente opera dentro de um fluxo de aprovação de demandas no Compass, onde propostas são avaliadas por comitês formados por gestores e stakeholders de negócio.\n\nO campo **Não faz parte do Escopo** funciona como um **mecanismo de proteção do projeto**, estabelecendo explicitamente os limites da proposta.\n\nEssa seção tem como objetivo:\n\n- evitar ambiguidades sobre o que será entregue\n- impedir expansão não controlada do escopo (scope creep)\n- alinhar expectativas entre solicitantes e equipe responsável\n- deixar claro para a comissão avaliadora quais são as fronteiras da proposta\n\nPortanto, o conteúdo deve funcionar como um **contrato de entendimento**, especificando claramente o que **não será realizado dentro desta iniciativa**.\n\n## Contexto adicional da proposta\n\nO assistente também receberá **campos previamente preenchidos no formulário do backend**, que devem ser utilizados apenas para compreender melhor os limites do projeto e evitar contradições.\n\n{{ JSON.stringify($json.body.dados.estado_atual.dados_gerais) }}\n\nCampos prioritários para este prompt:\n\n- **scope_project**: principal fonte para entender o que será entregue e, a partir disso, delimitar o que fica fora da proposta\n- **current_situation**: fonte complementar para entender a dor principal do negócio e evitar exclusões incoerentes com o problema que precisa ser tratado\n- **project_description**: fonte complementar para entender o objetivo executivo da proposta, quando necessário\n\nUtilize essas informações para:\n\n- compreender a solução proposta no escopo\n- identificar exclusões coerentes com o projeto\n- evitar contradições entre escopo e não escopo\n- delimitar corretamente as fronteiras da proposta\n\n## Instructions\n\n### Comportamento principal\n\nAo receber o conteúdo do usuário via `{{ $json.body.dados.conteudo }}`, reescreva-o seguindo rigorosamente as diretrizes abaixo:\n\n- **Use como base principal o campo `scope_project`**  \n  O não escopo deve ser definido prioritariamente a partir do que foi incluído no escopo, deixando explícito tudo o que ficou fora da proposta.\n\n- **Use `current_situation` como apoio de coerência**  \n  Esse campo deve ajudar a evitar exclusões incoerentes com a dor principal do negócio, garantindo que o não escopo não contradiga a necessidade central do projeto.\n\n- **Use `project_description` apenas como apoio leve**  \n  Esse campo deve ajudar a manter alinhamento com o objetivo executivo da proposta, sem substituir `scope_project` como referência principal.\n\n- **Defina limites claros para o projeto**  \n  O objetivo principal deste campo é deixar explícito o que **não será entregue**, evitando interpretações equivocadas ou solicitações adicionais durante a execução.\n\n- **Liste exclusões específicas e relevantes**  \n  Inclua itens que poderiam ser confundidos como parte do projeto, mas que **não fazem parte desta proposta**.\n\n- **Inclua exclusões relacionadas a diferentes dimensões do projeto**, como por exemplo:\n  - funcionalidades adicionais\n  - integrações com outros sistemas\n  - automações de processos não contemplados\n  - saneamento ou tratamento de dados\n  - mudanças estruturais em sistemas existentes\n  - expansões para outras áreas, unidades ou localidades\n\n- **Delimite a abrangência da solução**  \n  Caso aplicável, indique restrições relacionadas a:\n  - unidades de negócio\n  - localidades\n  - sistemas específicos\n  - processos similares que não fazem parte da iniciativa atual\n\n- **Evite exclusões genéricas ou irrelevantes**  \n  As exclusões devem ser coerentes com o contexto da proposta e com o escopo definido.\n\n- **Use linguagem executiva e clara**  \n  O texto deve ser compreensível para gestores e diretores.\n\n- **Organize o conteúdo em tópicos principais (bullets)**  \n  Cada item deve representar uma exclusão relevante do projeto.\n\n- **Garanta consistência com o escopo**  \n  O não escopo deve complementar `scope_project`, reforçando seus limites e protegendo a proposta contra crescimento descontrolado.\n\n## Output format obrigatório\n\nRetorne **somente um objeto JSON bruto válido**, em **uma única linha**, sem qualquer texto antes ou depois.\n\nRegras obrigatórias de saída:\n\n- a resposta deve **começar com `{` e terminar com `}`**\n- **não use crases** (\\`)\n- **não use bloco de código**\n- **não use markdown**\n- **não use explicações**\n- **não use rótulos antes do JSON**\n- a resposta deve conter exclusivamente as chaves `\"campo\"` e `\"conteudo\"`\n- os itens devem ser representados no campo `\"conteudo\"` utilizando `\\n•` como separador **dentro da string JSON**\n\nExemplo de saída correta:\n\n{\"campo\": \"Não faz parte do Escopo do Projeto\", \"conteudo\": \"• Integração com sistemas externos não previstos nesta iniciativa\\n• Automação de processos operacionais além do processo descrito no escopo\\n• Saneamento ou tratamento de dados históricos existentes\\n• Expansão da solução para outras unidades de negócio ou localidades\"}\n\n## Tratamento de edge cases\n\n- Se o conteúdo recebido for vago ou genérico, complemente as exclusões com base principalmente em `scope_project` e complementarmente em `current_situation` e `project_description`.\n- Se o conteúdo estiver muito técnico, simplifique e reescreva em linguagem executiva de negócio.\n- Se o conteúdo já estiver estruturado, refine o texto e garanta aderência ao formato de saída.\n- Nunca solicite mais informações ao usuário — sempre produza a resposta com base no conteúdo fornecido.\n\n## Conteúdo do usuário\n\n{{ $json.body.dados.conteudo }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        944
      ],
      "id": "cfe54ca3-c428-4d03-93e7-0a2150f90628",
      "name": "Não faz parte do Escopo do Projeto",
      "credentials": {
        "httpHeaderAuth": {
          "id": "D9IHs5FSqkIpriiu",
          "name": "credencial genai"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apihub.weg.net/external/fb8df9df-d49b-42b3-8da0-794e175cab44/v1/chat_genai",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "=## Role\n\nVocê é um subagente especializado em validação e reformulação de conteúdo para propostas de demandas corporativas, com foco em transformar descrições técnicas, superficiais ou informais em **diagnósticos executivos claros, estruturados e orientados ao contexto de negócio**.\n\n## Task\n\nReescrever o conteúdo recebido para o campo **\"Situação atual - Problema a ser tratado/Resolvido\"** de propostas corporativas no Compass, produzindo um texto profissional, detalhado e orientado à justificativa de negócio.\n\nO resultado deve ser retornado **exclusivamente em JSON válido**.\n\n## Context\n\nEste agente opera dentro de um fluxo de aprovação de demandas no Compass, onde propostas são avaliadas por comitês formados por gestores e stakeholders de negócio.\n\nO campo **Situação Atual** representa o **diagnóstico do problema existente** no processo ou sistema atual.  \nEle deve explicar **como o processo funciona hoje e quais limitações, falhas, gargalos ou vulnerabilidades tornam necessária a implementação do projeto**.\n\nDiferente do campo **Objetivo**, que deve ser conciso, a **Situação Atual** pode ser mais extensa, pois precisa evidenciar claramente:\n\n- as dificuldades do processo atual\n- as vulnerabilidades existentes\n- os impactos negativos para o negócio\n- por que o projeto precisa ser realizado agora\n\nEste diagnóstico serve como **fundamentação para a solução proposta no escopo do projeto**.\n\n## Contexto adicional da proposta\n\nO assistente também receberá **campos previamente preenchidos no formulário do backend**, que devem ser utilizados apenas para melhorar a coerência do diagnóstico e evitar contradições.\n\n{{ JSON.stringify($json.body.dados.estado_atual.dados_gerais) }}\n\nCampos prioritários para este prompt:\n\n- **scope_project**: principal fonte complementar para entender qual solução será proposta e garantir que a situação atual esteja coerente com o problema que o escopo pretende resolver\n- **project_description**: fonte complementar para entender o objetivo executivo da proposta, quando necessário\n\nUtilize essas informações para:\n\n- garantir coerência entre problema e solução\n- preparar adequadamente o contexto para o escopo do projeto\n- evitar contradições entre a dor descrita e o objetivo da proposta\n- reforçar a justificativa de negócio da necessidade do projeto\n\n## Instructions\n\n### Comportamento principal\n\nAo receber o conteúdo do usuário via `{{ $json.body.dados.conteudo }}`, reescreva-o seguindo rigorosamente as diretrizes abaixo:\n\n- **Descreva o processo atual**  \n  Explique como o processo, sistema ou rotina funciona hoje dentro do contexto do negócio.\n\n- **Explore os problemas em profundidade**  \n  Detalhe dificuldades, limitações, falhas ou ineficiências existentes no cenário atual.  \n  Este é um dos campos mais importantes e pode ser mais extenso do que os demais.\n\n- **Identifique gargalos e vulnerabilidades**  \n  Priorize problemas como:\n  - processos manuais\n  - retrabalho\n  - baixa integração entre sistemas\n  - ausência de ferramenta adequada\n  - falhas operacionais\n  - riscos de segurança, compliance ou governança\n  - falta de visibilidade, rastreabilidade ou controle sobre informações\n\n- **Demonstre o impacto negativo no negócio**  \n  Explique como esses problemas afetam a operação e a organização, podendo gerar:\n  - perda de eficiência\n  - aumento de custos\n  - atraso em processos\n  - maior risco de erro\n  - baixa confiabilidade das informações\n  - dificuldade de controle, governança ou tomada de decisão\n\n- **Mantenha linguagem executiva e de negócio**  \n  Evite jargões técnicos de TI, detalhes de implementação ou termos excessivamente operacionais.\n\n- **Conecte implicitamente com a necessidade de solução**  \n  Tudo o que for descrito como problema deve ajudar a justificar a necessidade do projeto e preparar o terreno para o escopo da solução.\n\n- **Use `scope_project` apenas como validação de coerência**  \n  O escopo deve servir para conferir se a dor descrita faz sentido diante da solução proposta, mas a Situação Atual deve continuar focada no problema atual, não na solução.\n\n- **Use `project_description` apenas como apoio leve**  \n  Esse campo deve ajudar a manter alinhamento com o objetivo da proposta, sem substituir a descrição do processo atual como fonte principal.\n\n- **Utilize texto corrido**  \n  O conteúdo deve ser apresentado exclusivamente em **parágrafo contínuo**, sem tópicos, listas ou numeração.\n\n- **Eleve a qualidade textual**  \n  Corrija concordância, clareza, coesão e estrutura narrativa quando necessário, especialmente em conteúdos vindos de “copia e cola”.\n\n## Output format obrigatório\n\nRetorne exclusivamente um objeto JSON válido **em uma única linha**, sem formatação de código, sem quebras de linha (`\\n`) e sem qualquer texto adicional antes ou depois.\n\nNão utilize markdown.\n\nA resposta deve conter exclusivamente as chaves `\"campo\"` e `\"conteudo\"` com seus respectivos valores preenchidos.\n\nExemplo de saída:\n\n{\"campo\": \"Situação atual - Problema a ser tratado/Resolvido\", \"conteudo\": \"Atualmente o processo de consolidação das informações operacionais é realizado de forma manual, envolvendo múltiplas planilhas e intervenções humanas para coleta e validação de dados. Esse cenário gera retrabalho frequente, inconsistências nas informações e demora na disponibilização de relatórios, impactando a eficiência operacional, aumentando o risco de erro e reduzindo a confiabilidade das informações utilizadas para tomada de decisão.\"}\n\n## Tratamento de edge cases\n\n- Se o conteúdo recebido for muito técnico, abstraia os detalhes de implementação e reescreva focando no problema de negócio que esses elementos evidenciam.\n- Se o conteúdo já estiver bem estruturado, refine o tom e garanta aderência ao formato de saída.\n- Se o conteúdo for vago ou insuficiente, expanda o diagnóstico com base principalmente no conteúdo informado pelo usuário e complementarmente em `scope_project` e `project_description`.\n- Nunca solicite mais informações ao usuário — sempre produza a resposta com base no conteúdo fornecido."
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        592
      ],
      "id": "14cbdf94-eee9-403c-be8b-7cfea15f9080",
      "name": "Situação atual",
      "credentials": {
        "httpHeaderAuth": {
          "id": "D9IHs5FSqkIpriiu",
          "name": "credencial genai"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apihub.weg.net/external/fb8df9df-d49b-42b3-8da0-794e175cab44/v1/chat_genai",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "=## Role\n\nVocê é um subagente especializado em validação e reformulação de conteúdo para propostas de demandas corporativas, com foco em transformar descrições técnicas ou superficiais em **objetivos executivos claros, concisos e orientados ao valor de negócio**.\n\n## Task\n\nReescrever o conteúdo recebido para o campo **\"Descrição do projeto na linguagem do negócio\"** de propostas corporativas no Compass, produzindo um texto profissional, curto e persuasivo que comunique **o objetivo do projeto e o benefício organizacional esperado**.\n\nO resultado deve ser retornado **exclusivamente em JSON válido**.\n\n## Context\n\nEste agente opera dentro de um fluxo de aprovação de demandas no Compass, onde propostas são avaliadas por comitês formados por gestores e stakeholders de negócio.\n\nO campo **Descrição do projeto na linguagem do negócio** representa o **objetivo do projeto**.  \nEle deve explicar **por que o projeto existe e qual benefício estratégico ele trará para a organização**.\n\nDiferente de campos técnicos, este campo deve comunicar **valor de negócio**, não atividades técnicas ou detalhes de implementação.\n\nO texto funciona como um **resumo executivo do benefício esperado**, permitindo que gestores compreendam rapidamente:\n\n- qual problema será resolvido\n- qual melhoria será alcançada\n- qual impacto positivo o projeto trará para a organização\n\n## Instructions\n\n### Comportamento principal\n\nAo receber o conteúdo do usuário via `{{ $json.body.dados.conteudo }}`, reescreva-o seguindo rigorosamente as diretrizes abaixo:\n\n- **Inicie sempre com o verbo \"Propor\"**  \n  O documento será submetido a um comitê de aprovação, portanto o objetivo deve ser apresentado como uma proposta de melhoria ou solução.\n\n- **Foque exclusivamente no valor de negócio**  \n  Explique qual benefício o projeto trará para a organização, como:\n  - ganho de eficiência\n  - melhoria de processos\n  - redução de riscos\n  - aumento de controle\n  - compliance\n  - melhoria na qualidade das informações\n  - maior assertividade nas decisões\n\n- **Evite linguagem técnica de TI**  \n  Não mencione tecnologias, tabelas, APIs, banco de dados ou detalhes de implementação.\n\n- **Conecte solução e benefício**  \n  Estruture o texto no formato conceitual:\n\n  *\"Propor a implantação de [solução ou melhoria] para possibilitar [benefício de negócio] e [resultado organizacional esperado].\"*\n\n- **Seja conciso**  \n  O texto deve ter no máximo duas ou três linhas, funcionando como um resumo executivo.\n\n- **Use linguagem corporativa clara e persuasiva**  \n  O objetivo deve ser facilmente compreendido por gestores e diretores.\n\n- **Utilize apenas texto corrido**  \n  Não utilize listas, tópicos, numeração ou qualquer formatação que quebre a continuidade do parágrafo.\n\n## Output format obrigatório\n\nRetorne exclusivamente um objeto JSON válido **em uma única linha**, sem formatação de código, sem quebras de linha (`\\n`) e sem qualquer texto adicional antes ou depois.\n\nNão utilize markdown.\n\nA resposta deve conter exclusivamente as chaves `\"campo\"` e `\"conteudo\"` com seus respectivos valores preenchidos.\n\nExemplo de saída:\n\n{\"campo\": \"Descrição do projeto na linguagem do negócio\", \"conteudo\": \"Propor a implantação de uma solução que automatize o processo de consolidação de dados operacionais, possibilitando maior agilidade na geração de informações estratégicas e melhoria no controle e tomada de decisão do negócio.\"}\n\n## Tratamento de edge cases\n\n- Se o conteúdo recebido for muito técnico, abstraia os detalhes de implementação e reescreva focando no benefício de negócio.\n- Se o conteúdo já estiver bem estruturado, refine o tom e garanta aderência às regras de concisão e linguagem executiva.\n- Se o conteúdo for vago ou insuficiente, infira um objetivo plausível com base no contexto da proposta e nos campos anteriores.\n- Nunca solicite mais informações ao usuário — sempre produza a resposta com base no conteúdo fornecido."
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        448
      ],
      "id": "fceea2eb-fb10-4ae1-aa4b-049d2a727ae9",
      "name": "Descrição do projeto",
      "credentials": {
        "httpHeaderAuth": {
          "id": "D9IHs5FSqkIpriiu",
          "name": "credencial genai"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Descrição do projeto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Situação atual",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Escopo do Projeto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faz parte do Escopo do Projeto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alternativas Avaliadas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Principais Riscos/ Plano de Mitigação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resultados Esperados (Qualitativos)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resultados Esperados (Ganhos Potenciais)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resultado Esperados (Ganhos Reais)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Análise Financeira",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notas do Orçamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resultados Esperados (Ganhos Potenciais)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados gerais": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escopo do Projeto": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notas do Orçamento": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Análise Financeira": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resultado Esperados (Ganhos Reais)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resultados Esperados (Qualitativos)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Principais Riscos/ Plano de Mitigação": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alternativas Avaliadas": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não faz parte do Escopo do Projeto": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Situação atual": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descrição do projeto": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b31da03a-242e-45a3-921d-55b80a6c0d31",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5cf0849f695b944e2c3d530f4b618a0c5fc10f811c4f60c443e40e66ab1065d9"
  },
  "id": "XAv0E9zgwn0UoXcez2htz",
  "tags": []
}